.homework-description {
  padding: 20px 0;
  text-align: center;
}

.homework-description__heading {
  color: rgb(69, 69, 212);
  margin: 0;
}

.homework-description__note {
  color: rgb(100, 100, 100);
  margin: 0;
}
